[submodule "vendor/MLX-DLSS"]
	path = vendor/MLX-DLSS
	url = https://github.com/ScriptType/MLX-DLSS.git
[submodule "vendor/mpv"]
	path = vendor/mpv
	url = https://github.com/ScriptType/mpv.git
[submodule "vendor/Erika"]
	path = vendor/Erika
	url = https://github.com/ScriptType/Erika.git
[submodule "vendor/libplacebo"]
	path = vendor/libplacebo
	url = https://github.com/haasn/libplacebo.git
